$whiteText: #FFFFFF;
$blueText: #24A3FF;
$blackText: #000000;
$violetShadow:#CACADB;
$blueShadow:#E7E7F2;
$greyText:#B3B3BA;
$whiteBackground: #EDEDF7;
$greyBackground: #F5F5FA;
$darkGreyText: #323264;
$hillelBackground: #1C4280;
$wannaBackground:#143646;
$tapBackground: #F48B30;
$lookBackground: #9E4DC3;
$orangeBackground: #FD9339;
$adbackground: #E2E2E4;
$greyline: #E6E6F0;
$footerTelColor: #46466E;
$active: #F0145A;
$clickkyBackground: #C71C36;
$ecoBackground: #DCF3F9;
$infraBackground: #EAEAEA;
$cityBackground: #282240;
$artBackground: #1D4568;
$aboutBackground: #F5F5FA;
$gradient: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$cross: #EC6F5D;

// font-size

$tinyText: 12px;
$smallText: 14px;
$smallText16: 16px;
$smallText19: 19px;
$mediumText20: 20px;
$mediumText24:24px;
$mediumText: 30px;
$bigText36: 36px;
$bigText: 38px;
$hugeText: 46px;
$hugeText86: 86px;


$regularText: 400;
$boldText: 700;

